{% extends "base.html" %}
{% load static %}

{% block navtype %}
<nav id="tf-menu" class="navbar navbar-default navbar-inner">
{% endblock %}

{% block navigation %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}" class="page-scroll"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tool <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Image Scraper</a></li>
                <li><a href="#">Web Scraper</a></li>
                <li><a href="#">Tweet Network Scraper</a></li>
                <li><a href="#">Identity Scraper</a></li>
                <li><a href="#">Tweet Scraper</a></li>
            </ul>
        </li>
        {% if user.is_authenticated %}
        <li><a href="#"><img src="{% static 'img/log-out.png' %}"/></a></li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span></span><img src="{% static 'img/icon-login.png' %}"></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><img src="{% static 'img/socialmedia/twitter-bird.png' %}"/> Login with Twitter</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
